@font-face {
  font-family: 'gina-icons';
  src: url('../fonts/gina-icons.eot?83903232');
  src: url('../fonts/gina-icons.eot?83903232#iefix') format('embedded-opentype'),
       url('../fonts/gina-icons.woff?83903232') format('woff'),
       url('../fonts/gina-icons.ttf?83903232') format('truetype'),
       url('../fonts/gina-icons.svg?83903232#gina-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'gina-icons';
    src: url('../fonts/gina-icons.svg?83903232#gina-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "gina-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-plus-squared:before { content: '\e800'; } /* '' */
.icon-garden:before { content: '\e801'; } /* '' */
.icon-rss-squared:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-level-up:before { content: '\e804'; } /* '' */
.icon-comment:before { content: '\e805'; } /* '' */
.icon-droplet:before { content: '\e806'; } /* '' */
.icon-megaphone:before { content: '\e807'; } /* '' */
.icon-facebook-squared:before { content: '\e808'; } /* '' */
.icon-user-add-outline:before { content: '\e809'; } /* '' */
.icon-moon:before { content: '\e80a'; } /* '' */
.icon-tree-2:before { content: '\e80b'; } /* '' */
.icon-child:before { content: '\e80c'; } /* '' */
.icon-binoculars:before { content: '\e80d'; } /* '' */
.icon-location:before { content: '\e80e'; } /* '' */
.icon-bus:before { content: '\e80f'; } /* '' */
.icon-clock:before { content: '\e810'; } /* '' */
.icon-gift:before { content: '\e811'; } /* '' */
.icon-down-circled:before { content: '\e812'; } /* '' */
.icon-attention:before { content: '\e813'; } /* '' */
.icon-air:before { content: '\e814'; } /* '' */
