body {
/*	background: #d1bb91;*/
/*	width: 600px;*/
	margin: 0;
	padding: 0;
	direction: rtl;
	background: white url(../header.png) repeat-x top;
	text-align: justify;
	color: #513851;
	font-family: 'Alef', sans;
}

td {
	text-align: justify;
}

img {
	border: none;
}

#mainframe p img {
	max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
	border: 1px solid gray;
}

a {
/*	color: #b67001;*/
	color: #2d9900;
	text-decoration: none;
}
a:hover {
	color: #98a571;
	text-decoration:underline;
}

strong {
	color: #737;
}

/*ul, ol {
	margin: 0 0 12px 0;
	padding:0 15px 0 0;
}
ul li {
	list-style: circle outside;
	margin: 0 0 8px 0;
	padding: 0 8px 0 0;
}
ol li {
	margin: 0 10px 8px 0;
	padding:0;
}*/

h1 {
/*	color: #999f2d;*/
}

h2 {
	/*margin-top: 3em;*/
	border-bottom: 1px dotted #a587a5;
}

h3 {
	border-bottom: 1px dotted #CCC;
}

.attachment {
	max-width: 600px;
	border: 1px solid black;
	display: block;
}

.entry-title {
	color: #737;
}

.entry-title a {
	color: #737;
}

.hodaa {
	background-color: white;
	border: 2px solid #d5d7ef;
	padding: 1em;
	text-align: justify;
}

#menu {
	padding: 0;
	margin: 0;
	white-space: nowrap;
	list-style-type: none;
	text-align: center;
}

#menu li {
	padding: 0;
	margin: 0;
	margin-left: 1em;
	display:inline;
}

#menu li a {
	color: #737;
}

#menu li:last-child:after {
	mergin-left: 0px;
}

.minipage {
	display: inline-block;
	vertical-align:top;
	text-align: right;
	line-height: 100%;
	padding-top: 3px;
}

.icon {
	color: #a587a5;
}
