{% extends "base.html" %}
{% block content %}

<table style="margin-top: 16px; margin-bottom: 2em;">
	<tr><td class="hodaa">
			<p>
			<i class="icon-calendar"></i> עמוד זה מציג את <strong>ארכיון העדכונים</strong>.<br/>
			<i class="icon-moon"></i> ל<strong>תוכנית החודשית</strong> לחודש הנוכחי לחצו <a href="{{ SITEURL }}/pdfs/xodshit.pdf">כאן</a>.
			</p>
			<p><table><tr><td valign="top"><i class="icon-attention"></i></td><td>שימו לב: התאריכים למטה מציינים את <strong>זמן הפרסום</strong> של ההודעה, לא את <strong>זמן הפעילות</strong>.</td></tr></table></p>
		</td>
	</tr>
</table>

<table>
{% for article in dates %}
	<tr>
    <td style="padding-left: 1em; text-align: center">{{ article.locale_date }}</td>
    <td><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
