{% extends "base.html" %}
{% block head %}
  <meta charset="utf-8" />
  {{ super() }}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<section id="content" class="body">
  <table style="margin-top: 16px">
	  <tr><td class="hodaa">
				  עמוד זה מציג <strong>הודעה יחידה</strong>.<br/>
				  לעמוד הראשי לחצו <a href="{{ SITEURL }}/">כאן</a>; לארכיון העדכונים לחצו <a href="{{ SITEURL }}/archives.html">כאן</a>.
	  </td></tr></table>
  <header>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="קישור קבוע לרשומה: {{ article.title|striptags }}">{{ article.title }}</a><span style="float: left; margin-right: 3em; font-size: 75%">{{ article.locale_date }}</span></h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
  <footer class="post-info">
  </footer><!-- /.post-info -->
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->

  <center>
	  <ul style="list-style-type: none">
		  {% for image in article.galleryimages %}
		  <li><a class="{{ article.album }} cboxElement" href="{{ SITEURL }}/images/gallery/{{ article.album }}/{{ image }}"><img src="{{ SITEURL }}/images/gallery/{{ article.album }}/{{ image }}" style="max-width: 80%"></a></li>
		  {% endfor %}
	  </ul>
  </center>

</section>
{% endblock %}
