<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" /> 
		<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/gina-icons.css" />
		<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/alef.css" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}
</head>

<body id="index" class="home">
<div style="background:url({{ SITEURL }}/theme/footer.png) repeat-x bottom; padding-bottom:128px">
	<div id="mainframe" style="width: 600px; margin-right: 64px">
		<header id="banner" class="body">
			<!--<h1><a href="{{ SITEURL }}">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>-->
			<div><a href="{{ SITEURL }}/"><img src="{{ SITEURL}}/theme/title.png" width="600" height="143" style="padding-top: 43px" alt="הגינה הקהילתית במוזיאון הטבע"/></a></div>
		</header><!-- /#banner -->
		<nav id="menu"><ul>
				{% for title, link in MENUITEMS %}
				<li><a href="{{ link }}">{{ title }}</a></li>
				{% endfor %}
				{% if DISPLAY_PAGES_ON_MENU %}
				{% for p in PAGES %}
				<li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
				{% endfor %}
				{% else %}
				{% if DISPLAY_CATEGORIES_ON_MENU %}
				{% for cat, null in categories %}
				<li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
				{% endfor %}
				{% endif %}
				{% endif %}
				<li><a href="{{ SITEURL }}/peilut"><i class="icon-calendar"></i>פעילות</a></li>
				<li><a href="{{ SITEURL }}/gina"><i class="icon-garden"></i>בגינה</a></li>
				<li><a href="{{ SITEURL }}/kesher"><i class="icon-comment"></i>יצירת קשר</a></li>
				<li><a href="https://www.facebook.com/groups/119707971423090" target="_blank"><i class="icon-facebook-squared"></i>פייסבוק</a></li>
				<li><a href="{{ SITEURL }}"><i class="icon-level-up"></i>עמוד ראשי</a></li>
		</ul></nav><!-- /#menu -->
		{% block content %}
		{% endblock %}
	</div>
	</body>
</html>
