{% extends "base.html" %}
{% block content %}
<section id="content">

<table style="margin-top: 16px">
	<tr><td class="hodaa">
			<div style="margin-bottom: 1ex"><i class="icon-garden"></i> במתחם <strong>מוזיאון הטבע</strong> שבמושבה הגרמנית בירושלים שוכנת לה <strong>גינה קהילתית</strong> המטופחת על־ידי התושבים. בגינה מגוון גדול של עצי נוי ופרי, ערוגות ירק, צמחי־נוי, ארבע <a href="{{ SITEURL }}/brexot">בריכות</a> ששוקמו ונבנו על־ידי הפעילים ובהן חיים דגים וצפרדעים, וכן פינת מיחזור פסולת אורגנית (קומפוסט) שכונתית. כמו כן, בגינה מתחם „קפה גינתי” הכולל <a href="{{ SITEURL }}/agol">אוהל במבוק עגול</a> למפגשים קהילתיים ו<a href="{{SITEURL }}/bejtit">דוגמאות חיות לחקלאות ביתית</a> בשיטות גידול חסכוניות במים ובשטח. הגינה משמשת מרכז קהילתי, ריאה ירוקה ודוגמה ומרכז לגינות הקהילתות האחרות בירושלים. בגינה פועלת <a href="http://www.ohrlenefesh.org/greenhouse.htm">משתלה שיקומית</a>, יש בה רחבה עם במה תחת כיפת־השמיים, והיא מהווה חלק ממתחם <a href="http://muzteva.org.il/">מוזיאון טבע</a>.</div>
	
			<div style="margin-bottom: 1ex"><i class="icon-user-add-outline"></i> בגינה מתקיימים שפע של <a href="{{ SITEURL }}/archives.html">מפגשים קהילתיים, פעילויות ואירועים</a>. פעילות הגינה גם מייצרות <a href="/mucarim">מוצרים</a> מתבליני הגינה ומוצרי מזון נוספים. <strong>כולם מוזמנים</strong> לבוא, לבקר, לטעום ולהצטרף לעשייה. בכל יום חמישי, החל מ־15:00 בחורף ו־16:00 בקיץ, נפגשים בגינה ל<a href="{{ SITEURL}}/archives.html">עבודה משותפת</a>, המתאימה לכל הגילאים (גם קטנטנים מוזמנים!).<br/>
				<i class="icon-location"></i><strong>הכתובת</strong> היא <a href="http://www.mapa.co.il/maps?CurrMapTab=5.1&MapType=map&ImagesOption=&CurrHeaderTab=2&RoutePoints=1x3000x%u05D9%u05E8%u05D5%u05E9%u05DC%u05D9%u05DDx%u05D4%u05DE%u05D2%u05D9%u05D3x6%2C&UserEarthX=170957&UserEarthY=1130333&UserMapZoom=500&LoadUserPosition=1&RouteType=2&PNGLayers=">רח׳ המגיד, מול בית מס׳ 6</a> (הכניסה לגינה היא ממגרש החניה).<br/>
				<i class="icon-bus"></i><strong>קווי־אוטובוס</strong> (בתחנה עמק רפאים × לויד ג׳ורג׳): 18, 18א, 34, 34א, 77, 77א.<br/>
				<i class="icon-clock"></i>ה<strong>שעות</strong> בהן הגינה פתוחה: א׳–ה׳ ברוב שעות היום, ובשבת לפני הצהריים.
			</div>

			<div style="margin-bottom: 1ex"><i class="icon-megaphone"></i> להצטרפות ל<strong>רשימת־התפוצה</strong> ולמידע נוסף תוכלו לפנות אל אמנון הרציג (<a href="mailto:amnon.herzig@gmail.com" style="font-family: monospace">amnon.herzig@gmail.com</a>). מידע נוסף גם ב<a href="https://www.facebook.com/groups/119707971423090">דף של הגינה</a> ב<strong>פייסבוק</strong>.
	</td></tr>
</table>

<table style="margin-top: 16px; width: 100%">
	<tr><td class="hodaa">
			<i class="icon-calendar"></i> <strong>עדכונים אחרונים:</strong>
			<table>
			{% for article in articles_page.object_list[:3] %}
			<tr><td style="padding-left: 1em"> {{article.locale_date }}</td><td><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></td></tr>
			{% endfor %}
			</table>
			<a href="{{ SITEURL }}/archives.html" style="margin-left: 1em"><i class="icon-plus-squared-1" style="color: #a587a5"></i> צפיה בכל העדכונים</a>
			<a href="{{ SITEURL }}/feeds/all.atom.xml" style="margin-left: 1em"><i class="icon-rss-squared" style="color: #a587a5"></i> הרשמה לעדכונים</a>
			<a href="{{ SITEURL }}/pdfs/xodshit.pdf"><i class="icon-moon" style="color: #a587a5"></i> תוכנית חודשית</a>
	</td></tr>
</table>

{% for article in articles_page.object_list[:1] %}
        <article class="hentry">
			<header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="קישור קבוע לרשומה: {{ article.title|striptags }}">{{ article.title }}</a><span style="float: left; margin-right: 3em; font-size: 75%">{{ article.locale_date }}</span></h2> </header>
                <footer class="post-info"> 
					<!--{% if article.author %}<address class="vcard author">By <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></address>{% endif %}-->
                </footer><!-- /.post-info -->
                <div class="entry-content"> {{ article.content }} </div><!-- /.entry-content -->
        </article>
{% endfor %}
{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
